<h3>Customers</h3>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#user of customers">
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>
                <a >
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
			</td>
			<td>
                <i  class="glyphicon glyphicon-remove clickable"></i>
            </td>
		</tr>
	</tbody>
</table>
